<mat-accordion>

  <mat-expansion-panel *ngFor = "let post of Posts$ ">
      <mat-expansion-panel-header>
          <mat-panel-title>
            {{post.id}}. 
           subject: <br>
             {{post.title}}
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
      </mat-expansion-panel-header> 
     
      <div >
          <button mat-raised-button color="primary" (click)="add(post.title,post.body,post.id)">Save Post</button> <!--saved to firestore-->
      </div>
      <h4 *ngIf = "post.id == postid">{{text}}</h4>
      
      <h3>Data:</h3>{{post.body}} 
      
      <h3>Comments:</h3>
       <div *ngFor="let com of comments$ ">
         <div *ngIf = "com.postId == post.id;other"><br> {{com.body}}</div>
      </div>   
  </mat-expansion-panel>
</mat-accordion>
