<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-toolbar *ngIf = "(authService.user | async)?.uid" >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/blogposts']" routerLinkActive="active">Blog Posts</a>
      <a mat-list-item [routerLink]="['/savedposts']" routerLinkActive="active">Saved Posts</a>
      <!-- <a mat-list-item [routerLink]="['/docform']" routerLinkActive="active">Classify</a>
      <a mat-list-item [routerLink]="['/welcome']" routerLinkActive="active">welcome</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>test</span> -->

      <span class = "spacer"></span>
      <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/signup" routerLinkActive="active">SignUp</a>
        <a class = "whitelink" 
         routerLink="/login"
         *ngIf = "!(authService.user | async)?.uid" >Login</a>         
      <a class = "whitelink" 
         *ngIf = "(authService.user | async)?.uid" 
         (click) = "authService.Logout()">Logout</a>           
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
