<p>collection works!</p>
<mat-accordion>
    <p *ngIf = "!(collectionArry$ | async)"> Loading..</p>
    <mat-expansion-panel *ngFor=  "let article of collectionArry$ | async">
      <mat-expansion-panel-header>
        
        <mat-panel-title>
          {{article.category}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{article.document}}</p>
    </mat-expansion-panel>
  </mat-accordion>